<input type="search" placeholder="Buscar Entrega">
<hr>
<table class="table table-hover table-condensed">
  <thead>
    <th>Cliente</th>
    <th># Documento</th>
    <th># Entrada</th>
    <th># Estado</th>
    <th>Entrega</th>
  </thead>
  <tbody ng-repeat="entrega in listaEntrega">
      <tr >
        <th scope="row">{{$index+1}}</th>
        <td>{{entrega.CardName}}</td>
        <td>{{entrega.DocNum}}</td>
        <td>{{entrega.DocEntry}}</td>
        <td>{{entrega.DocStatus}}</td>
        <td>{{entrega.Entrega}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="glyphicon glyphicon-user"> </i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="glyphicon glyphicon-exclamation-sign"> </i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </td>
      </tr>
  </tbody>
</table>
