<form class="form-signin" ng-submit="login()">
  <h2 class="form-signin-heading">Login</h2>
  <label for="inputEmail" class="sr-only">Usduario</label>
  <input type="text" id="inputEmail" class="form-control" placeholder="Nombre de Usuario" required autofocus ng-model="usuario.nick">
  <label for="inputPassword" class="sr-only">Contraseña</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required ng-model="usuario.contrasena">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<a href="#">Registrar una cuenta</a>
<hr>
